table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}
th{
    background-color: aqua;
}
table{
    border-collapse: collapse;
    margin:auto;
    padding: auto;
    height: 500px;
    width:50%;
}
.container{
    text-align: center;
}
.container h1{
    font-size: 20px;
    text-align: center;
}
.container p{
    text-align: center;
    font-style: italic;
}
button{
    width:100px;
    padding:10px;
    text-align:center;
    margin: 5px 5px;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    color:black;
}
       